body {
    background-color: #F4D04E;
    font-weight: 100;
    
}
#textbox{
    width: 336px;
    
    
}
#content {
    background-color: #FFFFFF;
    border: 1px solid black;
    width: 100%;
    max-width: 384px;
    max-height: 522px;
    margin: 219px auto 219px;
    padding: 0 24px;
    border-radius: 20px;
    padding-top: 24px ;
    box-shadow: 10px 10px   rgba(0, 0, 0, 1);
    animation: ease-in;
    transition: 0.6s;
    

}

#textmain p {
    font-family:"Figtree";
    src: url(./assets/fonts/static/Figtree-Medium.ttf);
    font-size: 16px;
    color: #6b6b6b;
    line-height: 150%;
    font-weight: 500;
    margin: 0;
    margin-bottom: 14px;
    margin-top: 14px;
    
}

.titulo {
    font-family:"Figtree";
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
    font-size: 24px;
    color: #111111;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 800;
    margin-bottom: 14px;
    margin-top: 14px;
    display: block;
    
   
}
.titulo:hover {
    color: #F4D04E;
    cursor: pointer;
    transition: 0.4s;
    
    

}

#imageshape img {
    width: 100%;
    border-radius: 10px;
  

}

#navigation {
   background-color: #F4D04E;
    border-radius: 4px; 
   width: 82px;
   height: 29px;

}
.nav {
    
   padding: 4px 12px 4px 12px ;
   font-family: "Figtree";
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
   line-height: 150%;
   font-size: 14px;
   font-weight: 742;
   
}
#second_header h4 {
    font-family: "Figtree";
    src: url(./assets/fonts/static/Figtree-Medium.ttf);
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 14px;
    
}
#profileimage{
    margin-bottom: 24px;
    margin-top: 24px;
    width: 129px;
    height: 32px;
    font-family: "Figtree";
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    align-items: center;
}
#profileimage span{
    padding-left: 12px;
}
#profileimage img{
    width: 32px;
    height: 32px;
    
    
}